<%- include('layout/top') %>

<h1><%= title %> - <%= description %></h1>

<% items.forEach(item =>{ %>
<% if(title === item.category.name){ %>
<p><a href="<%=item.url%>"><%=item.name%></a></p>
<% } %>
<% }) %>
<button>Update</button>
<button>Delete</button>

<%- include('layout/bottom') %>