<%- include('layout/top') %>

<h1><%= title %></h1>

<form method="post" enctype="multipart/form-data">
  <input type="text" placeholder="Name" required name="name">
  <textarea placeholder="Description" required name="description"></textarea>
  <select name="category" id="category" required name="category">
    <option value="">Choose a Category</option>
    <%docs.forEach(doc=>{ %>
    <option value="<%= doc._id %>"><%= doc.name %></option>
    <% }) %>
  </select>
  <input type="number" minlength="0" maxlength="10000" placeholder="Price" required name="price">
  <input type="number" minlength="0" maxlength="10000" placeholder="Stock" required name="stock">
  <input type="file" name="image">
  <button type="submit">Add</button>
</form>

<%- include('layout/bottom') %>